pytest
pydantic
fastapi
httpx
streamlit
graphviz
openai
sentence-transformers #use "openai" package for external API embedding generation or "sentence-transformers" package for local embedding generation
psycopg
qdrant-client
